@mixin animal($text-color)
    .animal
        display: flex
        flex-direction: column
        gap: 2rem
        color: $text-color

        .status
            display: flex
            gap: 1rem
            align-content: center
            justify-items: center
            align-items: center

            .radial-progress circle
                stroke: red
                transition: 0.3s

        .radial-progress
            flex: 2.5rem 0 0
            border-radius: 9999rem

        .radial-progress-icon
            fill: $text-color

    .skill-buttons
        display: flex
        flex-direction: column
        gap: 0.7rem
        &.small
            gap: 0.3rem

    .animal.opposing
        flex-direction: row-reverse
        justify-content: flex-start
        gap: 0.5rem
        align-items: center
