@keyframes slide-in-bottom
    0%
        transform: translateY(100%)
        opacity: 0

    100%
        transform: translateY(0%)
        opacity: 1

@keyframes slide-in-side
    0%
        transform: translateX(100%)
        opacity: 0

    100%
        transform: translateX(0%)
        opacity: 1

@mixin animal($text-color)
    $easing-function: cubic-bezier(0.34, 1.56, 0.64, 1)

    .animal
        display: flex
        flex-direction: column
        gap: 2rem
        color: $text-color
        animation: slide-in-bottom 0.3s $easing-function forwards

        .status
            display: flex
            gap: 1rem
            align-items: center

            .radial-progress circle
                stroke: red
                transition: 0.3s
            .radial-progress .trail
                stroke: white
                transition: 1s 0.5s

        .radial-progress
            flex: 2.5rem 0 0
            border-radius: 9999rem

        .radial-progress-icon
            fill: $text-color

    .skill-buttons
        display: flex
        flex-direction: column
        gap: 0.7rem
        &.small
            gap: 0.3rem

    .animal.opposing
        flex-direction: row
        align-items: center
        justify-content: flex-end
        gap: 0.5rem
        animation: slide-in-side 0.5s $easing-function forwards
        .radial-progress circle
            stroke: red
            transition: 0.3s
        .radial-progress .trail
            stroke: white
            transition: 1s 0.5s
